.user-card {
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  min-height: 180px;
}

.user-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 22px rgb(255, 255, 255);
}
