<div class="register-box p-4 shadow rounded"
     style="max-width: 400px; margin: 80px auto; background: #ffffff;">

  <h2 class="text-center mb-4">Register</h2>

  <div class="mb-3">
   <label class="form-label">Name</label>
   <input type="text" class="form-control" [(ngModel)]="name">
  </div>

  <div class="mb-3">
    <label class="form-label">Username</label>
    <input type="text" class="form-control" [(ngModel)]="username">
  </div>

  <div class="mb-3">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" [(ngModel)]="email">
  </div>

  <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" [(ngModel)]="password">
  </div>

  <div class="mb-4">
    <label class="form-label">Confirm Password</label>
    <input type="password" class="form-control" [(ngModel)]="confirmPassword">
  </div>

  <div class="text-center">
    <button
      type="button"
      class="btn btn-primary w-100"
      (click)="onRegister()"
      [disabled]="isSubmitting">
      {{ isSubmitting ? 'Creating Account...' : 'Create Account' }}
    </button>
  </div>
  <p class="text-center small mt-3">
        Existing user?
        <a [routerLink]="['/login']">Login</a>
    </p>
</div>
